/*
    0.0 - Reset
    1.0 - Globals and etc.
    2.0 - Header
    3.0 - Main
        3.1 - Sidebar
    4.0 - Footer
*/

/* 0.0 - Reset */

@font-face {
    font-family: 'Arial-Unicode';
    src: url('fonts/Arial-Unicode.ttf');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

time, mark {
    display: inline-block;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 98%;
    font: inherit;
    vertical-align: baseline;
	height: 100%;
}

/* setup body */
body, p {
    line-height: 1.3em;
	font-family: 'Arial-Unicode', sans-serif, tahoma;
    font-size: 100%;
}

/* setup headings */
h1, h2, h3, h4, h5, h6 {
	line-height: 1.2em;
	font-family: 'Arial-Unicode', sans-serif, tahoma;
	font-weight: bold;
}

h1 { font-size: 180%; }
h2 { font-size: 150%; }
h3 { font-size: 135%; }
h4 { font-size: 120%; }
h5 { font-size: 110%; }
h6 { font-size: 100%; }

/* setup pre */
pre { font-family: consolas, monospace; }

/* 1.0 - Globals and etc. */

.home .wrapper {
    background: #453e4a;
}

.wrapper {
    background: #fff;
}

.bold {
    font-weight: bold;
}

.select2 {
    font-family: tahoma, 'Arial-Unicode', sans-serif;
}

/* 2.0 - Header */

.header-wrapper {
    background: #ae44c8;
}

.navbar-default {
    background: #ae44c8;
    border: 0;
    box-shadow: none;
    margin-bottom: 0;
}

.navbar-default .container-fluid {
    max-width: 1140px;
}

.navbar-nav {
    height: 100px;
    margin-left: 2%;
}

.navbar-brand {
    display: block;
    background: url('/img/logo.png') no-repeat;
    background-size: 105px 100px;
    width: 105px;
    height: 100px;
}

.navbar-nav li a {
    margin-top: 29px;
    height: 50px;
    padding-top: 15px;
    vertical-align: middle;
    font-family: Tahoma, sans-serif;
    font-size: 1em;
    text-shadow: none;
}

.navbar-nav .dropdown-menu a {
    margin-top: 0;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #8e35a9;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    border-left: 2px solid #fff;
}

.in .navbar-default .navbar-nav>li>a {
    border: 0;
}

.navbar-default .navbar-nav>li:first-child>a {
    border-left: 0;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    text-decoration: underline;
}

.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    text-decoration: none;
}

.navbar-default .navbar-nav>li>a:focus:hover {
    text-decoration: underline;
}

.navbar-inner {
    border: 0 !important;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background: #8e35a9;
}

.navbar-toggle {
    margin-top: 33px;
}

.in .navbar-nav li a, .collapsing .navbar-nav li a {
    margin-top: 0;
    border-left: 0;
}

.in .navbar-nav, .collapsing .navbar-nav {
    width: 95%;
    height: auto;
    margin-left: 0;
}

.navbar-nav>li>.dropdown-language-menu {
    min-width: 0;
    width: 80px;
    overflow: hidden;
}

.dropdown-menu>.dropdown-language-menu a {
    margin-left: -4px;
}

.hy-flag, .ru-flag, .en-flag {
    display: inline-block;
    background: url('/img/flags/hy.png') no-repeat;
    background-size: 30px 20px;
    width: 32px;
    height: 22px;
    border: 1px solid #999;
}

.navbar-default .navbar-nav .dropdown .flag-link:hover {
    text-decoration: none;
}

.ru-flag {
    background: url('/img/flags/ru.png') no-repeat;
}

.en-flag {
    background: url('/img/flags/en.png') no-repeat;
}

.flag-link .caret {
    min-height: 16px;
}

.navbar-default form {
    margin-top: 10px;
}

#login, #pwd {
    margin: 0 auto;
    width: 140px;
    height: 38px;
    font-size: 14px;
}

#submit-login {
    display: block;
    width: 100px;
    height: 35px;
    margin: 0 auto 10px;
    background: #fff;
    border-bottom: 2px solid #dbdbda;
    font-size: 16px;
    color: #000;
}

#submit-login:hover {
    background: #eee;
    border-bottom: 2px solid #cbcbca;
}

/* 3.0 - Main */

.main-background-wrapper {
    background: #453e4a url('/img/body-bg.jpg') no-repeat center 150px;
    margin-top: -150px;
}

.home .main {
    padding-top: 300px;
    margin: 0 auto;
    color: #fff;
}

.main {
    width: 98%;
    padding: 1%;
    padding-top: 140px;
    margin: 0 auto;
    color: #222;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.home-h1 {
    text-shadow: 0 0 4px #555;
    font-size: 66px;
    padding: 0 20px 15px;
    box-sizing: border-box;
}

.home-h3 {
    text-shadow: 0 0 4px #555;
    padding-bottom: 15px;
}

.home-p {
    text-shadow: 0 0 4px #555;
    font-size: 18px;
    padding: 0 20px 15px;
    box-sizing: border-box;
}

.btn-work, .btn-cooperate {
    width: 180px;
    height: 65px;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
}

.btn-work:focus, .btn-cooperate:focus, .btn-work:active, .btn-cooperate:active {
    color: #eee;
    outline: 0;
}

.btn-work {
    background: #7f9010;
    border-bottom: 4px solid #6c7b0e;
}

.btn-work:hover {
    background: #72810e;
    border-bottom: 4px solid #616e0d;
    color: #eee;
}

.btn-cooperate {
    background: #9d292b;
    border-bottom: 4px solid #761617;
}

.btn-cooperate:hover {
    background: #8d2527;
    border-bottom: 4px solid #6a1415;
    color: #eee;
}

.some-descr {
    margin-top: 15px;
    font-size: 24px;
    line-height: 1.3em;
    text-shadow: 0 0 4px #555;
}

.vertical-white-line {
    width: 10px;
    height: 390px;
    margin: 0 auto;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 #555;
}

.categories-div {
    margin-top: 140px;
    background: #fff;
    border-radius: 4px;
    padding: 10pt;
}

.secondary-title {
    color: #222;
    font-size: 32px;
    margin-bottom: 30px;
}

.categories-div a {
    display: inline-block;
    margin: 0 7% 10px 0;
    color: #2075b7;
    font-size: 24px;
    line-height: 1.25em;
}

.search-container {
    padding: 10px 0;
    border-left: 7px solid #ae44c8;
    border-right: 7px solid #ae44c8;
    border-top: 5px solid #ae44c8;
    border-bottom: 5px solid #ae44c8;
    box-sizing: border-box; 
    margin-bottom: 35px;
    border-radius: 4px;
}

.search-container div {
    padding-bottom: 10px;
    word-wrap: break-word;
}

.search-container select {
    width: 100%;
}

.search-container .select2 {
    width: 100%!important;
}

.search-container .select2-container {
    margin-bottom: 10px;
}

.select-title {
    display: block;
    padding-bottom: 8px;
}

.btn-search, .btn-search:focus {
    width: 190px;
    height: 37px;
    background: #ae44c8;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    border: 0;
    border-bottom: 2px solid #453e4a;
}

.btn-search:hover {
    color: #eee;
    background: #b85ccf;
}

.candidate {
    margin-bottom: 50px;
}

.job {
    margin-bottom: 8px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #e0e0e0;
}

.candidate img {
    margin: 0 auto;
    width: 185px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.candidate a, .job a {
    color: #222;
}

.candidate-full img {
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.candidate-details {
    margin-top: 25px;
}

.btn-send-resume, .btn-send-resume:focus {
    margin-top: 8px; 
    height: 32px;
    background: #72810e;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border: 0;
    border-bottom: 2px solid #453e4a;
}

.btn-send-resume:hover {
    color: #eee;
    background: #7f9010;
}

.job .job-category {
    color: #616e0d;
}

.job-other-details {
    color: #666;
}

.job p {
    margin: 5px 0;
}

.candidate a:hover, .candidate a:focus, .job a:hover, .job a:focus {
    text-decoration: none;
}

.candidate a:hover h2, .job h2 a:hover {
    text-decoration: underline;
}

.candidate h2, .job h2 {
    margin: 8px 0 5px 0;
}

.candidate > .table {
    border-bottom: 1px solid #ddd;
}

.candidate .table .work-experience {
    padding: 0;
}

.candidate .table .table th {
    border-bottom: 0;
    text-shadow: 0 0 0 #000;
}
.candidate .table .table td {
    border-top: 1px dotted #ddd;
}

.candidate .table .table caption {
    padding: 8px;
    color: #222;
    border-bottom: 1px solid #ddd;
}

.job-full-wrap {
    margin-bottom: 20px;
}

.job-full {
    border-color: #999;
}

.job-full h1 {
    margin-bottom: 8px;
}

.job-full p {
    padding-top: 10px;
    border-top: 1px dotted #e0e0e0;
}

.title-related, .completed-jobs h3 {
    display: block;
    padding: 7px 0;
    font-size: 20px;
    border-bottom: 1px dotted #bbb;
}

.related-jobs .job, .completed-jobs .job {
    margin: 10px 0 5px 0;
    padding-bottom: 3px;
}

.related-jobs h2, .completed-jobs h2 {
    display: inline-block;
    font-size: 16px;
}

.related-jobs .job-other-details, .completed-jobs .job-other-details {
    font-size: 14px;
}

.star-raiting-container {
    position: relative;
    display: inline-block;
    margin-top: 7px;
    width: 111px;
    height: 24px;
}

.completed-jobs .star-raiting-container {
    width: 75px;
}

.star-raiting-container:before {
    display: inline-block;
    content:'\f005\f005\f005\f005\f005';
    font-family: fontawesome;
    color: #aaa;
    font-size: 24px;
    margin-top: 3px;
}

.completed-jobs .star-raiting-container:before {
    font-size: 16px;
}

.star-raiting {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 26px;
    padding-top: 3px;
    font-family: fontawesome;
    font-size: 24px;
    color: #ae44c8;
    text-shadow: 0 0 2px #fff;
    overflow-y: visible;
    overflow-x: hidden;
}

.completed-jobs .star-raiting {
    font-size: 16px;
}

.star-raiting:before {
    content:'\f005\f005\f005\f005\f005';
}

.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background: #ae44c8;
}

.pagination>li>a {
    color: #ae44c8;
}
.main_container{
    width: 100%;
    padding-top: 140px;
    color: #222;   
    margin:0 auto;
    
}
 .main .wrapper {
     background: #453e4a url('/img/body-bg.jpg') no-repeat center 150px;
    margin-top: 150px;
    padding-top: 140px;
          

    
}
.col-xl-12 .col-lg-12 .col-md-2 {
       background: #453e4a url('/img/body-bg.jpg') no-repeat center 150px;
    margin-top: 150px;
    padding-top: 140px;
    
    
}
.main form {
    margin: 0 auto;
}







/* 3.1 - Sidebar */

.sidebar-right {
    padding: 10px 4px;
    border-left: 7px solid #ae44c8;
    border-right: 7px solid #ae44c8;
    border-top: 5px solid #ae44c8;
    border-bottom: 5px solid #ae44c8;
    box-sizing: border-box; 
    margin-bottom: 35px;
    border-radius: 4px;
}

/* 4.0 - Footer */

.footer-wrapper {
    background: #453e4a;
}

.footer {
    margin: 35px auto 0;
    padding-top: 15px;
    padding-bottom: 20px;
    color: #dbdbda;
    border-top: 1px solid #4e4753;
    box-sizing: border-box;
    word-wrap: break-word;
}

.footer-about-us {
    margin-top: 22px;
}

.logo-footer {
    float: left;
    display: block;
    margin-right: 10px;
    background: url('/img/logo-footer.png') no-repeat;
    background-size: 74px 42px;
    width: 74px;
    height: 42px;
}

.footer h3 {
    margin: 18px 0 10px;
}

.footer a {
    color: #dbdbda;
}

.footer li {
    padding-bottom: 7px;
}

/* Responsiveness */

@media only screen and (min-width: 992px) {

    .header-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10000;
    }

    .navbar-default {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        z-index: 10000;
    }

    .related-jobs {
        opacity: 0.85;
        filter: alpha(opacity=85);
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }

    .related-jobs:hover {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .related-jobs:hover .job:hover {
        border-color: #ccc;
    }

}

@media (max-width: 991px) {

    .main-background-wrapper {
        background-attachment: fixed;
        background-size: cover;
        background-position-y: 0;
        margin-top: 0;
    }

    .main {
        margin: 0 auto;
        padding-top: 40px;
    }

    /* navbar collapse*/
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }

    /* end of navbar collapse*/

}
